* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.encabezado {
  z-index: 3;
  width: 100%;
  height: 120px;

  position: sticky;
  top: 0;

  border-bottom: 1px solid black;
  background-color: white;
}

.encabezado img {
  width: 70px;
  height: 70px;
  position: absolute;

  top: 10%;
  left: 2%;
  cursor: pointer;
}

.navigator {
  position: absolute;
  width: 100%;
  top: 30%;

  text-align: center;
}

.navigator input {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}

.anchor-wrapper {
  position: absolute;
  width: 20%;
  text-align: right;

  top: 20%;
  right: 1%;
}

.anchor-wrapper a {
  top: 0;
  right: 0;
  text-decoration: none;
  color: red;
  margin-right: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;

  margin-right: 100px;
  margin-left: 100px;
  flex: 70%;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.image-wrapper {
  position: relative;
  margin-top: 15px;
  vertical-align: middle;
  width: 100%;
}

.image-wrapper img {
  width: 100%;
  border-radius: 5px;
}

.img-button {
  position: absolute;
  left: 30%;
  bottom: 4%;
  border-radius: 10px;
}

.img-button2 {
  position: absolute;
  right: 5%;
  bottom: 4%;
  border-radius: 10px;
}

.img-text {
  position: absolute;
  bottom: 35%;
  left: 10%;
  color: white;
}

.image-wrapper div {
  top: 0;
  width: 100%;
  height: 95%;
  position: absolute;
  opacity: 0;
  transition: 0.2s ease;
  border-radius: 5px;
}

.image-wrapper div:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.281);
}

.principal {
  display: flex;
}

.lateral {
  flex: 30%;

  width: 100%;
  height: 100%;

  border-right: 1px solid black;
  padding-right: 10px;
  padding-left: 10px;
}

.lateral img {
  width: 200px;
}

.slider {
  position: relative;
}

.slider-button {
  position: absolute;
  left: 0;
  top: 50%;
}

.slider-button2 {
  position: absolute;
  right: 0;
  top: 50%;
}

.slider-image {
  display: none;
  width: 100% !important;
  height: 500px;
}

footer {
  margin-top: 50px;
  width: 100%;
  height: 400px;
  background-image: linear-gradient(white, gray);
  border-top: 1px solid rgba(246, 246, 246, 0.424);
}

.footer-copyright {
  text-align: center;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 100%;
  }
  .principal {
    flex-direction: column;
  }

  .encabezado {
    height: 100px;
    position: relative;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  .img-text {
    font-size: 20px;
  }
}
